#***NumPy and Basic Pandas***

#Introduction
Now that we have introduced the fundamentals of Python, it's time to learn about NumPy and Pandas.

#NumPy
NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [23]:
import numpy as np

#Basic NumPy Arrays
A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [2]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
print(price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

Ejemplo

In [24]:
price_list_1 = [357.43, 545.83, 253.68, 964.02, 413.2, 632.62]
price_array_1 = np.array(price_list_1)
print(price_array_1, type(price_array_1))

[357.43 545.83 253.68 964.02 413.2  632.62] <class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [25]:
Ar = np.array([[1,3],[2,4]])
print(Ar, type(Ar))

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

Ejemplo

In [30]:
Ap = np.array([[5,7],[3,8]])
print(Ap, type(Ap))

[[5 7]
 [3 8]] <class 'numpy.ndarray'>

We get the dimensions of an ndarray using the .shape attribute:

In [4]:
print(Ar.shape)

(2, 2)

Ejemplo

In [31]:
print(Ap.shape)

(2, 2)

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [32]:
print(Ar[0])
print(Ar[1])

[1 3]
[2 4]

Ejemplo

In [33]:
print(Ap[0])
print(Ap[1])

[5 7]
[3 8]

If we want to access the matrix by column instead:

In [34]:
print('the first column: ', Ar[:,0])
print('the second column: ', Ar[:,1])

the first column:  [1 2]
the second column:  [3 4]

Ejemplo

In [36]:
print('primera columna: ', Ap[:,0])
print('segunda columna ', Ap[:,1])

primera columna:  [5 3]
segunda columna  [7 8]

#Array Functions
Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [7]:
print(np.log(price_array))

[4.96793654 4.98244156 4.9675886  4.96995218 4.96633504 4.96018375]

Ejemplo

In [40]:
print(np.log(price_array_1))

[5.87893954 6.30230757 5.53607363 6.87111204 6.02393174 6.44986993]

Other functions return a single value:

In [41]:
print(np.mean(price_array))
print(np.std(price_array))
print(np.sum(price_array))
print(np.max(price_array))

143.89666666666668
0.9673790478515796
863.38
145.83

Ejemplo

In [42]:
print(np.mean(price_array_1))
print(np.std(price_array_1))
print(np.sum(price_array_1))
print(np.max(price_array_1))

527.7966666666666
230.54322549626613
3166.7799999999997
964.02

The functions above return the mean, standard deviation, total and maximum value of an array.

#Pandas
Pandas is one of the most powerful tools for dealing with financial data. First we need to import Pandas:

In [43]:
import pandas as pd

#Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [10]:
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price)
s

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

Ejemplo

In [44]:
price_list_1 = [357.43, 545.83, 253.68, 964.02, 413.2, 632.62]
v = pd.Series(price_list_1)
v

0    357.43
1    545.83
2    253.68
3    964.02
4    413.20
5    632.62
dtype: float64

We can customize the indices of a new Series:

In [11]:
s = pd.Series(price,index = ['a','b','c','d','e','f'])
s

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64

Ejemplo

In [45]:
v = pd.Series(price_list_1,index = ['a','b','c','d','e','f'])
v

a    357.43
b    545.83
c    253.68
d    964.02
e    413.20
f    632.62
dtype: float64

Or we can change the indices of an existing Series:

In [12]:
s.index = [6,5,4,3,2,1]
s

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

Ejemplo

In [46]:
v.index = [10,9,8,7,6,5]
v

10    357.43
9     545.83
8     253.68
7     964.02
6     413.20
5     632.62
dtype: float64

Series is like a list since it can be sliced by index:

In [13]:
print(s[1:])
print(s[:-2])

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64

Ejemplo

In [47]:
print(v[1:])
print(v[:-2])

9    545.83
8    253.68
7    964.02
6    413.20
5    632.62
dtype: float64
10    357.43
9     545.83
8     253.68
7     964.02
dtype: float64

Series is also like a dictionary whose values can be set or fetched by index label:

In [14]:
print(s[4])
s[4] = 0
print(s)

143.68
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64

Ejemplo

In [49]:
print(v[9])
v[9] = 0
print(v)

545.83
10    357.43
9       0.00
8     253.68
7     964.02
6     413.20
5     632.62
dtype: float64

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [15]:
s = pd.Series(price, name = 'Apple Price List')
print(s)
print(s.name)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Apple Price List, dtype: float64
Apple Price List

Ejemplo

In [50]:
v = pd.Series(price_list_1, name = 'lista de precios')
print(v)
print(v.name)

0    357.43
1    545.83
2    253.68
3    964.02
4    413.20
5    632.62
Name: lista de precios, dtype: float64
lista de precios

We can get the statistical summaries of a Series:

In [16]:
print(s.describe())

count      6.000000
mean     143.896667
std        1.059711
min      142.620000
25%      143.545000
50%      143.705000
75%      143.947500
max      145.830000
Name: Apple Price List, dtype: float64

Ejemplo

In [51]:
print(v.describe())

count      6.000000
mean     527.796667
std      252.547450
min      253.680000
25%      371.372500
50%      479.515000
75%      610.922500
max      964.020000
Name: lista de precios, dtype: float64

#Time Index
Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [17]:
time_index = pd.date_range('2017-01-01',periods = len(s),freq = 'D')
print(time_index)
s.index = time_index
print(s)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    143.73
2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
2017-01-06    142.62
Freq: D, Name: Apple Price List, dtype: float64

Ejemplo

In [52]:
time_index = pd.date_range('2019-01-01',periods = len(s),freq = 'D')
print(time_index)
v.index = time_index
print(v)

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06'],
              dtype='datetime64[ns]', freq='D')
2019-01-01    357.43
2019-01-02    545.83
2019-01-03    253.68
2019-01-04    964.02
2019-01-05    413.20
2019-01-06    632.62
Freq: D, Name: lista de precios, dtype: float64

Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [18]:
s.index = [6,5,4,3,2,1]
print(s)
print(s[1])

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
Name: Apple Price List, dtype: float64
142.62

Ejemplo

In [53]:
v.index = [19,18,17,16,15,14]
print(v)
print(v[15])

19    357.43
18    545.83
17    253.68
16    964.02
15    413.20
14    632.62
Name: lista de precios, dtype: float64
413.2

If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [19]:
print(s.iloc[1])

145.83

Ejemplo

In [56]:
print(v.iloc[1])

545.83

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index.

In [20]:
s.index = time_index
print(s['2017-01-03'])

143.68

Ejemplo

In [57]:
v.index = time_index
print(v['2019-01-03'])

253.68

We can even access to a range of dates:

In [21]:
print(s['2017-01-02':'2017-01-05'])

2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
Freq: D, Name: Apple Price List, dtype: float64

Ejemplo

In [58]:
print(v['2019-01-02':'2019-01-05'])

2019-01-02    545.83
2019-01-03    253.68
2019-01-04    964.02
2019-01-05    413.20
Freq: D, Name: lista de precios, dtype: float64

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [22]:
print(s[s < np.mean(s)] )
print([(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])

2017-01-01    143.73
2017-01-03    143.68
2017-01-05    143.50
2017-01-06    142.62
Name: Apple Price List, dtype: float64
[2017-01-01    False
2017-01-02    False
2017-01-03    False
2017-01-04     True
2017-01-05    False
2017-01-06    False
Freq: D, Name: Apple Price List, dtype: bool]

Ejemplo

In [59]:
print(v[v < np.mean(v)] )
print([(v > np.mean(v)) & (v < np.mean(v) + 2.64*np.std(v))])

2019-01-01    357.43
2019-01-03    253.68
2019-01-05    413.20
Name: lista de precios, dtype: float64
[2019-01-01    False
2019-01-02     True
2019-01-03    False
2019-01-04     True
2019-01-05    False
2019-01-06     True
Freq: D, Name: lista de precios, dtype: bool]

As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions.

#Summary
Here we have introduced NumPy and Pandas for scientific computing in Python. In the next chapter, we will dive into Pandas to learn resampling and manipulating Pandas DataFrame, which are commonly used in financial data analysis.